nav {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111118;
    position: fixed;
    top: 0;
}
nav .logo {
    font-size: 26px;
    font-weight: bold;
}
nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
nav ul li a.active {
    color: #ff4655;
}
body {
    padding-top: 90px;
}
